<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
<head>
<title>приложение</title>
<link rel="stylesheet" href="r.css">
</head>

<body>

<div class="pagename">
<h1>Hello <%=usname%></h1>
</div>

<main>



<form action="">

<div class="form">

<div class="form1">
<input type="text" name="name" placeholder="login"/> 
</div>
<br>

<div class="form2">
<input type="password" name="id" placeholder="password"/>

<br>


<button>Click</button>


</div>

</div>




</main>

</body>
</html>